k- var title = 'About'
- var navType = 'is-compact'
- var heroImage = 'assets/images/hero-about.jpg'
- var heroType = 'is-compact'
- var heroTitle = 'Our profile'

//- Mixins
include mixins/+button.pug

doctype html
html
  head
    include includes/_head.pug

  body
    include includes/_navbar.pug
    include includes/_hero.pug

    section.section
      .container
        .columns
          .column.is-8
            p.intro
              | Except Integrated Sustainability delivers concepts and strategies for
              | resilient, just, and inspiring cities, companies, and governance.
              | Since 1999 we bring together private and public partners and guide
              | them towards systemic and fundamental improvement, where all
              | stakeholders beneﬁt. We apply innovative systemic analysis,
              | develop road maps towards resilience, and execute solutions with
              | inspiring design. Together we bridge gaps between sectors to
              | accelerate the frontier of sustainability, and create concepts that are
              | realistic and feasible.
              | Except Integrated Sustainability delivers concepts and strategies for
              | resilient, just, and inspiring cities, companies, and governance.
              | Since 1999 we bring together private and public partners and guide
              | them towards systemic and fundamental improvement, where all
              | stakeholders beneﬁt. We apply innovative systemic analysis,
              | develop road maps towards resilience, and execute solutions with
              | inspiring design. Together we bridge gaps between sectors to
              | accelerate the frontier of sustainability, and create concepts that are
              | realistic and feasible.

            p
              | We’re a passionate, practical, and dynamic team, known for our
              | interdisciplinary and innovative approach. Our team consists of 30
              | sustainability strategists, researchers, and designers that works around
              | the world, with our base in Utrecht, the Netherlands, in our own energy
              | neutral and toxin-free renovated monument.

    section.section
      article.container
        .columns
          .column
            blockquote.blockquote
              | I am impressed by the energy, expertise and
              | commitment I see. Because it hits you personally.
              | Because everyone at Except recognizes the need
              | for transformation to a sustainable society.
            
            h4.h4='Miriam van Gool'
            span.subline='IUCN Interim manager Leaders for Nature'

          .column
            blockquote.blockquote
              | I am impressed by the energy, expertise and
              | commitment I see. Because it hits you personally.
              | Because everyone at Except recognizes the need
              | for transformation to a sustainable society.
            
            h4.h4='Miriam van Gool'
            span.subline='IUCN Interim manager Leaders for Nature'

    section.section
      article.container
        header.header
          h2.h2='Partners & Clients'
        p
          | We develop and apply the Symbiosis in Development (SiD) systems-
          | thinking framework. SiD sheds light on complex challenges, speeds up
          | strategic decisionmaking, and applies dynamic analysis and visualiza-
          | tion tools. SiD incorporates areas such as the circular and bio-based

        .grid
          - var i = 1
          while i <= 32
            figure.image
              img(src=`assets/images/logos/clients/slice${i++}.png`)

include includes/_footer.pug