- var navType = 'is-compact'
- var title = 'Natural capital & new innovation strategies'
- var heroSubtitle = 'How to accelerate natural value systems'
- var heroDate = '01-02-2019'
- var heroImage = 'assets/images/hero-article.jpg'
- var heroType = 'is-compact'

doctype html
html
  head
    include includes/_head.pug

  body
    include includes/_navbar.pug

    //- Hero
    include includes/_hero.pug

    section.section
      .container
        .columns
          .column.is-8
            p.intro
              | Our team of experts shares their experience and passion since 1999
              | in more than 500 projects worldwide, for over 200 partners. Our
              | team of experts shares their experience and passion since 1999 in
              | more than 500 projects worldwide, for over 200 partners. Our team
              | of experts shares their experience and passion since 1999 in more
              | than 500 projects worldwide, for over 200 partners.
            p
              | Our team of experts shares their experience and passion since 1999
              | in more than 500 projects worldwide, for over 200 partners. Our
              | team of experts shares their experience and passion since 1999 in
              | more than 500 projects worldwide, for over 200 partners. Our team
              | of experts shares their experience and passion since 1999 in more
              | than 500 projects worldwide, for over 200 partners.

          .column.is-4
            figure.image
              img.is-200x200(src='assets/images/portrait.jpg')
              figcaption.caption='by Tony Hallmark'
              figcaption.caption
                i.fas.fa-envelope
                span='tony@except.nl'
              figcaption.caption
                i.fas.fa-phone
                span='+31(0)6-555550'

    section.section
      .container
        article.article
          header.header
            h2.h2='Why Natural Capital'
          .columns
            .column.is-8
              p 
                | LC Packaging is a family business that has been active in the
                | packaging industry since 1923. From handling jute bags to an
                | importer of packaging to a manufacturer and distributor, now with
                | its own manufacturing facilities in Europe, Asia and Africa.
              p
                | LC Packaging grew from a one-man business to a multinational
                | with over 1000 employees and a turnover of €163 million in
                | 2016. With oﬃces and plants in 16 countries worldwide, a storage
                | capacity of more than 70,000 m² and an extensive distribution
                | network, it is a leading company in packaging specialising in
                | agricultural packaging and FIBC.
              p          
                |  “With growing knowledge and consciousness of ﬁnite resources
                |  and net positive impact comes a responsibility to act.”
                |  “I believe a sustainable business is diverse and fun to lead and
                |  has a business model that survives in the long term.”
                |  Lucas Lammers, CEO
            .column.is-4
              h4.h4='Related News'
              ul
                li
                  a.link.is-next.is-transparent(href='/')='Sprint 2014 News - Natural Capital'
                  span.subline='How much is nature worth?'
                li
                  a.link.is-next.is-transparent(href='/')='Sprint 2014 News - Natural Capital'
                  span.subline='How much is nature worth?'
                li
                  a.link.is-next.is-transparent(href='/')='Sprint 2014 News - Natural Capital'
                  span.subline='How much is nature worth?'

              .spacer.is-large

              h4.h4='Related Projects'
              ul
                li
                  a.link.is-next.is-transparent(href='/')='Leaders for Nature: Shared Resources'
                  span.subline='From awareness to action with the network of IUCN'
                li
                  a.link.is-next.is-transparent(href='/')='Sprint 2014 News - Natural Capital'
                  span.subline='How much is nature worth?'

    //- Images & Downloads
    section.section
      .container
        article.article
          header
            h2.h2='Images & Downloads'

          .columns.is-grid
            .column.is-4
              .card.is-stretched
                .card-image
                  figure.image
                    img(src='assets/images/working-area-photo.png')
                .card-content
                  a.link='Centrum Ecological Chape receives design prize in contest for world’s most...'
            .column.is-4
              .card.is-stretched
                .card-image
                  figure.image
                    img(src='assets/images/working-area-photo.png')
                .card-content
                  a.link='Centrum Ecological Chape receives design prize in contest for world’s most...'
            .column.is-4
              .card.is-stretched
                .card-image
                  figure.image
                    img(src='assets/images/working-area-photo.png')
                .card-content
                  a.link='Centrum Ecological Chape receives design prize in contest for world’s most...'


    //- Related items
    section.section
      .container
        article.article
          header
            h2.h2='Related items'

          .columns.is-grid
            .column.is-4
              .card.is-stretched
                .card-image
                  figure.image
                    img(src='assets/images/working-area-photo.png')
                .card-content.has-label
                  a.link='Centrum Ecological Chape receives design prize in contest for world’s most...'
                  p.date='21-02-2017'
                  a.button.is-pulled-right
                    i.fas.fa-chevron-right
            .column.is-4
              .card.is-stretched
                .card-image
                  figure.image
                    img(src='assets/images/working-area-photo.png')
                .card-content.has-label
                  a.link='Centrum Ecological Chape receives design prize in contest for world’s most...'
                  p.date='21-02-2017'
                  a.button.is-pulled-right
                    i.fas.fa-chevron-right
            .column.is-4
              .card.is-stretched
                .card-image
                  figure.image
                    img(src='assets/images/working-area-photo.png')
                .card-content.has-label
                  a.link='Centrum Ecological Chape receives design prize in contest for world’s most...'
                  p.date='21-02-2017'
                  a.button.is-pulled-right
                    i.fas.fa-chevron-right

    include includes/_footer.pug