- var title        = 'Home'
- var invertLogo   = true
- var heroImage    = 'assets/images/hero-home.jpg'
- var heroTitle    = 'We make new futures possible'
- var heroSubtitle = 'Leading sustainability consultants & designers'

doctype html
html
  head
    include includes/_head.pug

  body
    include includes/_hero.pug
    include includes/_navbar.pug

    //- Innovation
    section.section
      .container.has-carousel
        article
          header
            h2.h2='Innovation realized'

          .carousel.has-text-centered
            .button.is-secondary.is-fixed-left='<'

            .images
              figure.image
                img(src='assets/images/innovation-graphic.png')

            .button.is-secondary.is-fixed-right='>'
          p
            | We inject projects with deep science, bespoke design, and empower them with a smart business strategy. With lean project management we deliver concrete results for now and for generations to come. 
          
          a.button.is-next.is-secondary='More about us'
          p
            include includes/_button-down.pug

    //- Global
    section.section.is-inverted.has-carousel
      .container.has-carousel
        article
          header
            h2.h2='Achieving global impact'

          .carousel.has-text-centered
            .button.is-secondary.is-fixed-left='<'

            .content
              div.is-background(style='background-image:url(assets/images/global-graphic.png)')

            .button.is-secondary.is-fixed-right='>'
          p
            | Our team of experts shares their experience and passion since 1999 in more than 500 projects worldwide, for over 200 partners.
          
          .buttons
            a.button.is-next.is-secondary='View our projects'
            a.button.is-next.is-secondary='View our team'

          .buttons
            include includes/_button-down.pug

    //- Working areas
    section.section(style='background-image:url(assets/images/working-area-photo.png')
      .container
        article.article
          header
            h2.h2='Our working areas'
          
          .content
            .columns
              .column.has-text-centered
                img(src='assets/images/icons/places-icon.svg')
                h3.h3='Places, cities & buildings'
              .column.has-text-centered
                img(src='assets/images/icons/organizations-icon.svg')
                h3.h3='Organizations & governance'
              .column.has-text-centered
                img(src='assets/images/icons/industry-icon.svg')
                h3.h3='Industry & sectors'
              .column.has-text-centered
                img(src='assets/images/icons/training-icon.svg')
                h3.h3='Training'

          .buttons
            .container
              a.button.is-next.is-secondary='View our services'
            .container
              include includes/_button-down.pug

    //- Latest news
    section.section
      .container
        article.article
          header
            h2.h2='Latest news'

          .columns
            .column.is-8
              .card.is-stretched
                .card-image
                  figure.image
                    img(src='assets/images/working-area-photo.png')
                .card-footer
                  a.link
                    span='Watch the video "A passion for Change"'
                    i.fas.fa-chevron-right
            .column.is-4
              .card.is-stretched
                .card-image
                  figure.image
                    img(src='assets/images/working-area-photo.png')
                    h4.h4.label.is-red='Event'
                .card-content
                  h3.h3='New SID intro workshops in July and August 2018'
                  p
                    | Learn about the SiD advanced sustainability framework SiD in these 3 day intensive hands-on workshops.
                .card-footer
                  a.link
                    span='Register now'
                    i.fas.fa-chevron-right

          .columns
            .column.is-4
              .card.is-stretched
                .card-image
                  figure.image
                    img(src='assets/images/working-area-photo.png')
                    h4.h4.label.is-purple='News'
                .card-content
                  h3.h3='Centrum Ecological Chapel receives design prize in contest for world’s most...'
                  p
                    | 21-02-2017
                  a.button.is-pulled-right
                    i.fas.fa-chevron-right
                .card-footer
                  a.link
                    span='Register now'
                    i.fas.fa-chevron-right

            .column.is-4
              .card.is-stretched
                .card-image
                  figure.image
                    img(src='assets/images/working-area-photo.png')
                    h4.h4.label.is-blue='Project'
                .card-content
                  h3.h3='Centrum Ecological Chapel receives design prize in contest for world’s most...'
                  p
                    | 21-02-2017
                  a.button.is-pulled-right
                    i.fas.fa-chevron-right
                .card-footer
                  a.link
                    span='Register now'
                    i.fas.fa-chevron-right

            .column.is-4
              .card.is-stretched
                .card-image
                  figure.image
                    img(src='assets/images/working-area-photo.png')
                    h4.h4.label.is-green='Knowledge'
                .card-content
                  h3.h3='Centrum Ecological Chapel receives design prize in contest for world’s most...'
                  p
                    | 21-02-2017
                  a.button.is-pulled-right
                    i.fas.fa-chevron-right
                .card-footer
                  a.link
                    span='Register now'
                    i.fas.fa-chevron-right

          .columns
            .column.is-4
              .card.is-stretched
                .card-image
                  figure.image
                    img(src='assets/images/working-area-photo.png')
                    h4.h4.label.is-red='People'
                .card-content
                  h3.h3='New SID intro workshops in July and August 2018'
                  p
                    | Learn about the SiD advanced sustainability framework SiD in these 3 day intensive hands-on workshops.
                .card-footer
                  a.link
                    span='More info'
                    i.fas.fa-chevron-right
            .column.is-8
              .card.is-stretched
                .card-image
                  figure.image
                    img(src='assets/images/working-area-photo.png')
                .card-footer
                  a.link
                    span='Watch the video "A passion for Change"'
                    i.fas.fa-chevron-right

    include includes/_footer.pug


script(src='assets/js/app.js')