- var title   = 'Knowledge'
- var navType = 'is-compact'
- var heroImage = 'assets/images/hero-about.jpg'
- var heroType = 'is-compact'

doctype html
html
  head
    include includes/_head.pug

  body
    include includes/_navbar.pug
    include includes/_hero.pug

    section.section
      .container
        article.article
          .columns
            .column.is-8
              p.intro
                | Our team of experts shares their experience and passion since 1999
                | in more than 500 projects worldwide, for over 200 partners. Our
                | team of experts shares their experience and passion since 1999 in
                | more than 500 projects worldwide, for over 200 partners. Our team
                | of experts shares their experience and passion since 1999 in more
                | than 500 projects worldwide, for over 200 partners.

    section.section.has-title
      .container
        h2.h2='Knowledge highlights'

    //- Knowledge highlights
    section.section.has-carousel
      .container.has-carousel
        article.article
          header.header
            h2.h2.is-blocked='How to tackle climate change'

          .carousel.has-text-centered
            div.is-background(style='background-image:url(assets/images/hero-about.jpg)')
          p.is-blocked='Our team of experts shares their experience and passion since 1999. In more than 500 projects worldwide, for over 200 partners.'
          .buttons
            a.button.is-next.is-secondary='View article'

    //- Knowledge database
    section.section
      .container
        article.article
          header.header
            h2.h2='Knowledge database'
          
          .spacer

          header.has-text-centered
            h3.h3='FILTER'
          .has-text-centered

            label.button.is-filter.is-purple
              input(type='checkbox')
              span='Places, cities & buildings'

            label.button.is-filter.is-blue
              input(type='checkbox')
              span='Organizations & governance'

            label.button.is-filter.is-red
              input(type='checkbox')
              span='Industry & sectors'

            label.button.is-filter.is-green
              input(type='checkbox')
              span='Training'

          .spacer

          .columns.is-grid

            each color in ['purple','blue','red','green']
              .column.is-3
                .card.is-stretched
                  .card-image
                    figure.image
                      img(src='assets/images/working-area-photo.png')
                  .card-content.has-label
                    h3.h3='Centrum Ecological Chape receives...'
                    p
                      | 21-02-2017
                    button(class=`button is-selector is-${color} is-pulled-left`)
                    a.button.is-pulled-right
                      i.fas.fa-chevron-right

            each color in ['green','green','red','transparent']
              .column.is-3
                .card.is-stretched
                  .card-image
                    figure.image
                      img(src='assets/images/working-area-photo.png')
                  .card-content.has-label
                    h3.h3='Centrum Ecological Chape receives...'
                    p
                      | 21-02-2017
                    button(class=`button is-selector is-${color} is-pulled-left`)
                    a.button.is-pulled-right
                      i.fas.fa-chevron-right

            each color in ['transparent','transparent','transparent','transparent']
              .column.is-3
                .card.is-stretched
                  .card-image
                    figure.image
                      img(src='assets/images/working-area-photo.png')
                  .card-content.has-label
                    h3.h3='Centrum Ecological Chape receives...'
                    p
                      | 21-02-2017
                    button(class=`button is-selector is-${color} is-pulled-left`)
                    a.button.is-pulled-right
                      i.fas.fa-chevron-right

    include includes/_footer.pug