- var navType = 'is-compact'
- var title = 'News'
- var heroType = 'is-compact'
- var heroImage = 'assets/images/hero-news.jpg'
- var heroSubtitle = 'An overview of all the news items we have posted over the years'

doctype html
html
  head
    include includes/_head.pug

  body
    include includes/_navbar.pug
    include includes/_hero.pug


    //- Latest news
    section.section
      .container
        article.article
          header.has-text-centered
            h3.h3='TIMELINE'
          .has-text-centered
            .timeline
              .year
                .project.is-purple(style='--position: 5%')
                .project.is-blue(style='--position: 10%')
                .project.is-green(style='--position: 25%')
                .project.is-red(style='--position: 50%')
              .year
                .project.is-purple(style='--position: 25%')
                .project.is-blue(style='--position: 27%')
                .project.is-green(style='--position: 35%')
                .project.is-red(style='--position: 70%')
                .project.is-blue(style='--position: 80%')
              .year
                .project.is-purple(style='--position: 25%')
                .project.is-blue(style='--position: 27%')
                .project.is-green(style='--position: 35%')
                .project.is-red(style='--position: 70%')
                .project.is-blue(style='--position: 80%')
              .year
                .project.is-purple(style='--position: 15%')
                .project.is-blue(style='--position: 17%')
                .project.is-green(style='--position: 15%')
                .project.is-red(style='--position: 30%')
                .project.is-blue(style='--position: 50%')

          .spacer

          header.has-text-centered
            h3.h3='FILTER'
          .has-text-centered

            label.button.is-filter.is-purple
              input(type='checkbox')
              span='Places, cities & buildings'

            label.button.is-filter.is-blue
              input(type='checkbox')
              span='Organizations & governance'

            label.button.is-filter.is-red
              input(type='checkbox')
              span='Industry & sectors'

            label.button.is-filter.is-green
              input(type='checkbox')
              span='Training'

          .spacer.is-large

          header
            h2.h2='Latest news'

          .columns.is-grid
            .column.is-4
              .card.is-stretched
                .card-image
                  figure.image
                    img(src='assets/images/working-area-photo.png')
                .card-content.has-label
                  h3.h3='Centrum Ecological Chape receives design prize in contest for world’s most...'
                  p
                    | 21-02-2017
                  button.button.is-selector.is-purple.is-pulled-left
                  a.button.is-pulled-right
                    i.fas.fa-chevron-right
            .column.is-4
              .card.is-stretched
                .card-image
                  figure.image
                    img(src='assets/images/working-area-photo.png')
                .card-content.has-label
                  h3.h3='Centrum Ecological Chape receives design prize in contest for world’s most...'
                  p
                    | 21-02-2017
                  button.button.is-selector.is-blue.is-pulled-left
                  a.button.is-pulled-right
                    i.fas.fa-chevron-right
            .column.is-4
              .card.is-stretched
                .card-image
                  figure.image
                    img(src='assets/images/working-area-photo.png')
                .card-content.has-label
                  h3.h3='Centrum Ecological Chape receives design prize in contest for world’s most...'
                  p
                    | 21-02-2017
                  button.button.is-selector.is-red.is-pulled-left
                  a.button.is-pulled-right
                    i.fas.fa-chevron-right
          
            .column.is-4
              .card.is-stretched
                .card-image
                  figure.image
                    img(src='assets/images/working-area-photo.png')
                .card-content.has-label
                  h3.h3='Centrum Ecological Chape receives design prize in contest for world’s most...'
                  p
                    | 21-02-2017
                  button.button.is-selector.is-purple.is-pulled-left
                  a.button.is-pulled-right
                    i.fas.fa-chevron-right
            .column.is-4
              .card.is-stretched
                .card-image
                  figure.image
                    img(src='assets/images/working-area-photo.png')
                .card-content.has-label
                  h3.h3='Centrum Ecological Chape receives design prize in contest for world’s most...'
                  p
                    | 21-02-2017
                  button.button.is-selector.is-blue.is-pulled-left
                  a.button.is-pulled-right
                    i.fas.fa-chevron-right
            .column.is-4
              .card.is-stretched
                .card-image
                  figure.image
                    img(src='assets/images/working-area-photo.png')
                .card-content.has-label
                  h3.h3='Centrum Ecological Chape receives design prize in contest for world’s most...'
                  p
                    | 21-02-2017
                  button.button.is-selector.is-red.is-pulled-left
                  a.button.is-pulled-right
                    i.fas.fa-chevron-right

    //- Except in the news
    section.section
      .container
        article.article
          header
            h2.h2='Except in the news'

          .columns.is-grid
            each color in ['purple','blue','red','green']
              .column.is-3
                .card.is-stretched
                  .card-image
                    figure.image
                      img(src='assets/images/working-area-photo.png')
                  .card-content.has-label
                    h3.h3='Centrum Ecological Chape receives...'
                    p
                      | 21-02-2017
                    button(class=`button is-selector is-${color} is-pulled-left`)
                    a.button.is-pulled-right
                      i.fas.fa-chevron-right

            each color in ['green','green','red','transparent']
              .column.is-3
                .card.is-stretched
                  .card-image
                    figure.image
                      img(src='assets/images/working-area-photo.png')
                  .card-content.has-label
                    h3.h3='Centrum Ecological Chape receives...'
                    p
                      | 21-02-2017
                    button(class=`button is-selector is-${color} is-pulled-left`)
                    a.button.is-pulled-right
                      i.fas.fa-chevron-right

    include includes/_footer.pug