- var navType = 'is-compact'
- var title = 'Projects'
- var heroType = 'is-compact'
- var heroImage = 'assets/images/hero-projects.jpg'

doctype html
html
  head
    include includes/_head.pug

  body
    include includes/_navbar.pug

    //- Hero
    include includes/_hero.pug

    .spacer

    .container
      p.intro
        | Our team of experts shares their experience and passion since 1999
        | in more than 500 projects worldwide, for over 200 partners. Our
        | team of experts shares their experience and passion since 1999 in
        | more than 500 projects worldwide, for over 200 partners. Our team
        | of experts shares their experience and passion since 1999 in more
        | than 500 projects worldwide, for over 200 partners.

    section.section.has-title
      .container
        h2.h2='Project highlights'

    //- Project highlights
    section.section.has-carousel
      .container.has-carousel
        article
          header
            h2.h2.is-blocked='IKEA Catalogue'

          .carousel.has-text-centered
            div.is-background(style='background-image:url(assets/images/ikea.jpg)')
          p.is-blocked='We designed together with IKEA their supply chain catalogue.'
          .buttons
            a.button.is-next.is-secondary='View project'

    .spacer
    
    section.section.has-selectors
      .container.flex-centered
        .buttons
          button.button.is-selector.is-primary
          button.button.is-selector.is-secondary
          button.button.is-selector.is-secondary
          button.button.is-selector.is-secondary
          button.button.is-selector.is-secondary

    //- Latest projects
    section.section
      .container
        article.article
          header
            h2.h2='Latest projects'

          .columns.is-grid
            .column.is-4
              .card.is-stretched
                .card-image
                  figure.image
                    img(src='assets/images/working-area-photo.png')
                .card-content.has-label
                  h3.h3='Centrum Ecological Chape receives design prize in contest for world’s most...'
                  p
                    | 21-02-2017
                  button.button.is-selector.is-purple.is-pulled-left
                  a.button.is-pulled-right
                    i.fas.fa-chevron-right
            .column.is-4
              .card.is-stretched
                .card-image
                  figure.image
                    img(src='assets/images/working-area-photo.png')
                .card-content.has-label
                  h3.h3='Centrum Ecological Chape receives design prize in contest for world’s most...'
                  p
                    | 21-02-2017
                  button.button.is-selector.is-blue.is-pulled-left
                  a.button.is-pulled-right
                    i.fas.fa-chevron-right
            .column.is-4
              .card.is-stretched
                .card-image
                  figure.image
                    img(src='assets/images/working-area-photo.png')
                .card-content.has-label
                  h3.h3='Centrum Ecological Chape receives design prize in contest for world’s most...'
                  p
                    | 21-02-2017
                  button.button.is-selector.is-red.is-pulled-left
                  a.button.is-pulled-right
                    i.fas.fa-chevron-right
          
            .column.is-4
              .card.is-stretched
                .card-image
                  figure.image
                    img(src='assets/images/working-area-photo.png')
                .card-content.has-label
                  h3.h3='Centrum Ecological Chape receives design prize in contest for world’s most...'
                  p
                    | 21-02-2017
                  button.button.is-selector.is-purple.is-pulled-left
                  a.button.is-pulled-right
                    i.fas.fa-chevron-right
            .column.is-4
              .card.is-stretched
                .card-image
                  figure.image
                    img(src='assets/images/working-area-photo.png')
                .card-content.has-label
                  h3.h3='Centrum Ecological Chape receives design prize in contest for world’s most...'
                  p
                    | 21-02-2017
                  button.button.is-selector.is-blue.is-pulled-left
                  a.button.is-pulled-right
                    i.fas.fa-chevron-right
            .column.is-4
              .card.is-stretched
                .card-image
                  figure.image
                    img(src='assets/images/working-area-photo.png')
                .card-content.has-label
                  h3.h3='Centrum Ecological Chape receives design prize in contest for world’s most...'
                  p
                    | 21-02-2017
                  button.button.is-selector.is-red.is-pulled-left
                  a.button.is-pulled-right
                    i.fas.fa-chevron-right

    //- Projects archive
    section.section
      .container
        article.article
          header
            h2.h2='Project archive'

          header.has-text-centered
            h3.h3='TIMELINE'
          .content.has-text-centered
            .timeline
              .year
                .project.is-purple(style='--position: 5%')
                .project.is-blue(style='--position: 10%')
                .project.is-green(style='--position: 25%')
                .project.is-red(style='--position: 50%')
              .year
                .project.is-purple(style='--position: 25%')
                .project.is-blue(style='--position: 27%')
                .project.is-green(style='--position: 35%')
                .project.is-red(style='--position: 70%')
                .project.is-blue(style='--position: 80%')
              .year
                .project.is-purple(style='--position: 25%')
                .project.is-blue(style='--position: 27%')
                .project.is-green(style='--position: 35%')
                .project.is-red(style='--position: 70%')
                .project.is-blue(style='--position: 80%')
              .year
                .project.is-purple(style='--position: 15%')
                .project.is-blue(style='--position: 17%')
                .project.is-green(style='--position: 15%')
                .project.is-red(style='--position: 30%')
                .project.is-blue(style='--position: 50%')

          .spacer

          header.has-text-centered
            h3.h3='FILTER'
          .has-text-centered

            label.button.is-filter.is-purple
              input(type='checkbox')
              span='Places, cities & buildings'

            label.button.is-filter.is-blue
              input(type='checkbox')
              span='Organizations & governance'

            label.button.is-filter.is-red
              input(type='checkbox')
              span='Industry & sectors'

            label.button.is-filter.is-green
              input(type='checkbox')
              span='Training'


          .spacer

          .columns.is-grid

            each color in ['purple','blue','red','green']
              .column.is-3
                .card.is-stretched
                  .card-image
                    figure.image
                      img(src='assets/images/working-area-photo.png')
                  .card-content.has-label
                    h3.h3='Centrum Ecological Chape receives...'
                    p
                      | 21-02-2017
                    button(class=`button is-selector is-${color} is-pulled-left`)
                    a.button.is-pulled-right
                      i.fas.fa-chevron-right

            each color in ['green','green','red','transparent']
              .column.is-3
                .card.is-stretched
                  .card-image
                    figure.image
                      img(src='assets/images/working-area-photo.png')
                  .card-content.has-label
                    h3.h3='Centrum Ecological Chape receives...'
                    p
                      | 21-02-2017
                    button(class=`button is-selector is-${color} is-pulled-left`)
                    a.button.is-pulled-right
                      i.fas.fa-chevron-right

    include includes/_footer.pug