- var navType = 'is-compact'
- var title = 'Project title even if it\'s long'
- var heroSubtitle = 'Project subtitle'
- var heroDate = '17-10-2018'
- var heroImage = 'assets/images/hero-projects.jpg'
- var heroType = 'is-compact'

doctype html
html
  head
    include includes/_head.pug

  body
    include includes/_navbar.pug

    //- Hero
    include includes/_hero.pug

    section.section
      .container
        .columns
          .column.is-8
            p.intro
              | Our team of experts shares their experience and passion since 1999
              | in more than 500 projects worldwide, for over 200 partners. Our
              | team of experts shares their experience and passion since 1999 in
              | more than 500 projects worldwide, for over 200 partners. Our team
              | of experts shares their experience and passion since 1999 in more
              | than 500 projects worldwide, for over 200 partners.
            p
              | Our team of experts shares their experience and passion since 1999
              | in more than 500 projects worldwide, for over 200 partners. Our
              | team of experts shares their experience and passion since 1999 in
              | more than 500 projects worldwide, for over 200 partners. Our team
              | of experts shares their experience and passion since 1999 in more
              | than 500 projects worldwide, for over 200 partners.

          .column.is-4.has-text-right
            figure.image
              img.is-200x200(src='assets/images/portrait.jpg')
              figcaption.caption='by Tony Hallmark'
              figcaption.caption='tony@except.nl'
              figcaption.caption='+31(0)6-555550'

    section.section.has-carousel
      .container.has-carousel
        article.article
          .carousel.has-text-centered
            div.is-background(style='background-image:url(assets/images/hero-projects.jpg)')
        
          .container.has-description
            p.is-blocked.description='Project image description'

    .spacer

    section.section.has-selectors
      .container.flex-centered
        .buttons

          each buttonStyle in ['primary', 'secondary', 'secondary', 'secondary', 'secondary']
            button(class=`button is-selector is-${buttonStyle}`)

    section.section
      .container
        article.article
          .columns
            .column.is-8
              p 
                | LC Packaging is a family business that has been active in the
                | packaging industry since 1923. From handling jute bags to an
                | importer of packaging to a manufacturer and distributor, now with
                | its own manufacturing facilities in Europe, Asia and Africa.
              p
                | LC Packaging grew from a one-man business to a multinational
                | with over 1000 employees and a turnover of €163 million in
                | 2016. With oﬃces and plants in 16 countries worldwide, a storage
                | capacity of more than 70,000 m² and an extensive distribution
                | network, it is a leading company in packaging specialising in
                | agricultural packaging and FIBC.
              p          
                |  “With growing knowledge and consciousness of ﬁnite resources
                |  and net positive impact comes a responsibility to act.”
                |  “I believe a sustainable business is diverse and fun to lead and
                |  has a business model that survives in the long term.”
                |  Lucas Lammers, CEO
            .column.is-4
              h4.h4='Project partners'
              ul
                li='Organization'
                li='Organization'
                li='Organization'

              .spacer.is-large

              h4.h4='Project team'
              ul
                li='Person Person'
                li='Person Person'
                li='Person Person'

        article.article
          header.header
            figure.image.is-fullwidth
              img(src='assets/images/project-office.jpg')
              figcaption.caption='Content images are full column width, while text is not'
          
          .spacer

          h3.h3='Its Journey towards Sustainability'
          p
            | LC Packaging’s vision is to ensure a sustainable future, considering
            | next generations, customers, employees and manufacturing
            | partners, striving to include all stakeholders in its quest to provide
            | sustainable packaging solutions. The company minimizes the
            | impact on the environment, the waste of valuable products, while
            | enriching communities in which it operates.
          p
            | With a broad international reach LC Packaging draws resources
            | from the world and converts them into products and services. LC
            | Packaging is aware of its related impact and considers changing its
            | operations and investments to create sustainable value.
            | LC Packaging identiﬁes four areas of commitment;
            | To minimize impact on the environment LC Packaging requested
            | Except to ﬁrst establish baselines for    energy and water use,
            | waste generation and CO2 emissions.
            | FIBC product impact
          p
            | This sustainability analysis concerns a comparison between
            | various FIBCs and their environmental impact when considering
            | greenhouse gas emissions. The ﬁrst  comparison is between a
            | standard FIBC and one that is    reconditioned  by    Worldbag, a
            | part of LC Packaging group. The second comparison is  between a
            | series of FIBCs representing a broader portfolio. The purpose is
            | to communicate ﬁndings in order to stimulate reuse and portfolio

    //- Images & Downloads
    section.section
      .container
        article.article
          header
            h2.h2='Images & Downloads'

          .columns.is-grid
            .column.is-4
              .card.is-stretched
                .card-image
                  figure.image
                    img(src='assets/images/working-area-photo.png')
                .card-content
                  a.link='Centrum Ecological Chape receives design prize in contest for world’s most...'
            .column.is-4
              .card.is-stretched
                .card-image
                  figure.image
                    img(src='assets/images/working-area-photo.png')
                .card-content
                  a.link='Centrum Ecological Chape receives design prize in contest for world’s most...'
            .column.is-4
              .card.is-stretched
                .card-image
                  figure.image
                    img(src='assets/images/working-area-photo.png')
                .card-content
                  a.link='Centrum Ecological Chape receives design prize in contest for world’s most...'


    //- Related items
    section.section
      .container
        article.article
          header
            h2.h2='Related items'

          .columns.is-grid
            .column.is-4
              .card.is-stretched
                .card-image
                  figure.image
                    img(src='assets/images/working-area-photo.png')
                .card-content.has-label
                  a.link='Centrum Ecological Chape receives design prize in contest for world’s most...'
                  p.date='21-02-2017'
                  a.button.is-pulled-right
                    i.fas.fa-chevron-right
            .column.is-4
              .card.is-stretched
                .card-image
                  figure.image
                    img(src='assets/images/working-area-photo.png')
                .card-content.has-label
                  a.link='Centrum Ecological Chape receives design prize in contest for world’s most...'
                  p.date='21-02-2017'
                  a.button.is-pulled-right
                    i.fas.fa-chevron-right
            .column.is-4
              .card.is-stretched
                .card-image
                  figure.image
                    img(src='assets/images/working-area-photo.png')
                .card-content.has-label
                  a.link='Centrum Ecological Chape receives design prize in contest for world’s most...'
                  p.date='21-02-2017'
                  a.button.is-pulled-right
                    i.fas.fa-chevron-right

    include includes/_footer.pug