- var title          = 'Services'
- var navType        = 'is-compact'
- var heroImage      = 'assets/images/hero-services.jpg'
- var heroTitle      = 'Services overview'
- var heroType       = 'is-compact'

doctype html
html
  head
    include includes/_head.pug

  body
    include includes/_navbar.pug
    include includes/_hero.pug

    .spacer

    //- Working areas
    section.section
      .container
        article.article
          header.header
            h2.h2='Our working areas'
          
          .columns.has-gap
            .column.has-text-centered
              figure.image
                img(src='assets/images/icons/places-icon.svg')
              h3.h3='Places, cities & buildings'
            .column.has-text-centered
              figure.image
                img(src='assets/images/icons/organizations-icon.svg')
              h3.h3='Organizations & governance'
            .column.has-text-centered
              figure.image
                img(src='assets/images/icons/industry-icon.svg')
              h3.h3='Industry & sectors'
            .column.has-text-centered
              figure.image
                img(src='assets/images/icons/training-icon.svg')
              h3.h3='Training'

    //- Working areas
    section.section.is-fullheight(style='background-image:url(assets/images/services-bg.jpg')
      .container
        article.article
          header.header
            h2.h2.is-inverted='Our services'
          
          figure.image
            img(src='assets/images/services-graphic.svg')

          p.is-inverted
            | We support trajectories of sustainable development from idea to realization, evey step of the way...

          - var buttonType = 'is-info';
          include includes/_button-down.pug

    //- Places, cities and buildings
    section.section
      .container
        .columns.has-gap
          .column.is-2.has-text-centered
            figure.image
              img(src='assets/images/icons/places-icon.svg')
            h3.h3='Places, cities & buildings'
          .column.is-10
            .columns
              .column.is-1.has-text-right
                button.button.is-primary.is-fullheight='>'
              .column.is-11
                h3.h3='URBAN RENAISSANCE'
                p='A complete analysis, strategy, design and manage- ment service for sustainable cities, neighborhoods and regions'
            
            .spacer
            
            .columns
              .column.is-1.has-text-right
                button.button.is-primary.is-fullheight='>'
              .column.is-11
                h3.h3='ISLAND RENAISSANCE'
                p='A complete analysis, strategy, design and manage- ment service for sustainable cities, neighborhoods and regions'
          
            .spacer
          
            .columns
              .column.is-1.has-text-right
                button.button.is-primary.is-fullheight='>'
              .column.is-11
                h3.h3='SUSTAINABLE ESTATES'
                p='A complete analysis, strategy, design and manage- ment service for sustainable cities, neighborhoods and regions'

            .spacer

            .columns
              .column.is-1.has-text-right
                button.button.is-primary.is-fullheight='>'
              .column.is-11
                h3.h3='INNOVATION COMMUNITIES'
                p='A complete analysis, strategy, design and manage- ment service for sustainable cities, neighborhoods and regions'

    //- Organizations & governance
    section.section
      .container
        .columns.has-gap
          .column.is-2.has-text-centered
            figure.image
              img(src='assets/images/icons/organizations-icon.svg')
            h3.h3='Organizations & Governance'
          .column.is-10
            .columns
              .column.is-1.has-text-right
                button.button.is-primary.is-fullheight='>'
              .column.is-11
                h3.h3='ROUTEMAPS TO SUSTAINABILITY'
                p='Supporting organizations develop action- able pathways towards sustainable, profitable, and ethical operations.'
            
            .spacer
            
            .columns
              .column.is-1.has-text-right
                button.button.is-primary.is-fullheight='>'
              .column.is-11
                h3.h3='SUSTAINABLE SUPPLY CHAINS'
                p='Supporting organizations develop action- able pathways towards sustainable, profitable, and ethical operations.'

    //- Industry & sectors
    section.section
      .container
        .columns.has-gap
          .column.is-2.has-text-centered
            figure.image
              img(src='assets/images/icons/industry-icon.svg')
            h3.h3='Industry & sectors'
          .column.is-10
            .columns
              .column.is-1.has-text-right
                button.button.is-primary.is-fullheight='>'
              .column.is-11
                h3.h3='CIRCULAR INDUSTRIES'
                p='Supporting organizations develop action- able pathways towards sustainable, profitable, and ethical operations.'
            
            .spacer
            
            .columns
              .column.is-1.has-text-right
                button.button.is-primary.is-fullheight='>'
              .column.is-11
                h3.h3='SUSTAINABLE FOOD SYSTEMS'
                p='Supporting organizations develop action- able pathways towards sustainable, profitable, and ethical operations.'

    //- Training
    section.section
      .container
        .columns.has-gap
          .column.is-2.has-text-centered
            figure.image
              img(src='assets/images/icons/training-icon.svg')
            h3.h3='Training'
          .column.is-10
            .columns
              .column.is-1.has-text-right
                button.button.is-primary.is-fullheight='>'
              .column.is-11
                h3.h3='IN-COMPANY TRAINING & WORKSHOPS'
                p='Supporting organizations develop action- able pathways towards sustainable, profitable, and ethical operations.'
            
            .spacer
            
            .columns
              .column.is-1.has-text-right
                button.button.is-primary.is-fullheight='>'
              .column.is-11
                h3.h3='OPEN REGISTRATION TRAINING & WORKSHOPS'
                p='Supporting organizations develop action- able pathways towards sustainable, profitable, and ethical operations.'



    include includes/_footer.pug