footer.footer
  .container
    .columns
      .column
        h2.h2="Quick links"
        ul
          li
            a(href='./contact')='Contact us'
          li
            a(href='./about')='About us'
          li
            a(href='./work-with-us')='Work with us'
          li
            a(href='./calendar')='Event calendar'
          li
            a(href='./news')='News'

      .column
        h2.h2="Social media"
        ul
          li
            a(href='./facebook')='Facebook'
          li
            a(href='./twitter')='Twitter'
          li
            a(href='./linkedin')='LinkedIn'
          li
            a(href='./youtube')='YouTube'

      .column
        h2.h2="Keep in touch"
        ul
          li
            a(href='./newsletter')='Newsletter'
          li
            a(href='./events')='Events'
          li
            a(href='./rss')='RSS'

.content.has-text-centered
  span.is-oneliner
    span='2019 © Except Integrated Sustainability B.V. - '
    a(href='./privacy')='Privacy Policy'