section(class=`hero is-inverted is-darkened ${ heroType }` style=`background-image: url("${ heroImage }")`)
  .hero-body
    .container
      div(class=(heroStyle == 'is-compact' ? 'is-blocked' : ''))
        h1.h1.title=heroTitle || title
        h3.h3.subtitle=heroSubtitle || ''
        span.date=heroDate

        if showNextButton
          include ./_button-down.pug